<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" type="image/jpeg" href="/web/images/viniloo.jpeg">
	<link rel = "preconnect" href = "https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VINYL STORE</title>
    <link rel="stylesheet" href="/web/css/carga.css">
    <link rel="stylesheet" href="/web/css/boton.css">
    <link rel="stylesheet" href="/web/css/galeria.css">
    <link rel="stylesheet" href="/web/css/menu.css">
    <link rel="stylesheet" href="/web/Fuentes/fontts.css">
    <link rel="stylesheet" href="/web/css/login.css">
    <link rel="stylesheet" href="/web/css/carga2.css">


  
</head>
<body>
