<nav>
    <ul>
        <li><a href="/mosUsu">Mostrar Usuarios</a></li>
        <li><a href="/dis/dis/mostrarDis">Mostrar Vinilos</a></li>
        <li><a href="/dis/dis/newDis">Nuevo Vinilos</a></li>
        <li><a href="/dis/dis/galeriaD">Registro de Vinilos</a></li>
        <li><a href="/logout">Cerrar Sesion</a></li>
       
    </ul>
</nav>