
<nav>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/galeria">Galería</a></li>
        <li><a href="/mosUsu">Mostrar Usuarios</a></li>
        <li><a href="/dis/dis/mostrarDis">Mostrar Discos</a></li>
        <li><a href="/nuevousu">Nuevo Usuario</a></li>
        <li><a href="/logout">Cerrar Sesion</a></li>
       
    </ul>
</nav>